body{
    height: 100%;
    background-color: white;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.92);
    font-style: normal;
    font-weight: normal;
    font-family: -apple-system,BlinkMacSystemFont,"Apple Color Emoji","SF Pro","SF Pro Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
}

img{
    vertical-align: middle;
    margin-right: 5px;
}
.logo{
    font-size: 30px;
    padding: 20px;

}
.logo .a .img{
    filter: invert(100%);
}
#content .hr-line{
    margin-left: 5%;
    padding: 0;
    height: 0;
    width: 90%;
    border: none;
    border-top: 2px solid #333;

}
#content .hr-line-after{
    margin-left: 5%;
    margin-top: 10%;
    height: 0;
    width: 90%;
    border: none;
    border-top: 2px solid #333;

}
.header
{
    display: block;
    font-size: 35px;
    font-weight: bold;
    margin: 0 0 0 5%;
    min-width: 400px;
    padding-top: 5%;
    font-family: -apple-system-body, BlinkMacSystemFont, sans-serif;

}
.gg-search {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 13px;
    height: 13px;
    border: 2px solid;
    border-radius: 100%;
    vertical-align: middle;
    top: 16px;
    left: 19px


}
.gg-search::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 8px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px
}

.listen_now{
    display: block;
    font-size: 13px;
    font-weight: bold;
    color: #888888;
    margin-top: 10px;
    margin-left: 5%;
}

a{
    text-decoration: none;
    color: white;
}
#menu{
    width: 15%;
    height: 100%;
    position: fixed;
    background-color: rgba(31, 31, 31, 1);
    box-sizing: border-box;
    min-width: 200px;
    rgba(255, 255, 255, 0.92);
}
#content
{
    padding-left: 15%;
    width: 85%;
    height: 100%;
    min-width: 500px;
    min-height: 500px;
    display: block;
    background-color: rgba(31, 31, 31, 0.97);
    rgba(255, 255, 255, 0.92);
}
#menu ul{
    display: block;
    width: 54px;
    height: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}
#menu ul li{
    display: block;
    width: 10px;
    height: 100px;
    position: relative;
}
#menu ul li a{
    position:relative ;
    display: block;
    width: 198px;
    height: auto;
    padding: 20px;
}
#menu ul li a:hover,
#menu ul li:hover a{
    color:#fff;
}
#menu form input{
    margin-left: 20%;
    height: 30px;
    width: 60%;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: #ffffffeb;
    font-family: -apple-system-body, BlinkMacSystemFont, sans-serif;
}
#menu form img{
    margin-left: 20px;
}
.browse_content{

    align-items: flex-start;
    margin-top: 7px;
    height: 100%;


}
.browse_content img{
    height: 100%;
    margin-left: 5%;
    margin-top: 20px;
    border-radius: 3%;
}
.browse_content img{
    opacity: 1;
    transition: opacity .3s ease;
}
.browse_content img:hover{
   opacity: 0.2;
}

@media (max-width: 1100px) {
    #menu{
        height: 60px;
        width:100%

    }
    #content{
        width: 100%;
    }
    #menu form input {
    display: none;
    }
    #menu ul {
        display: none;
    }
    #menu form img{
        display: none;
    }
    .listen_now
    {
        display: none;
    }
    .gg-search{
        display: none;
    }
    .logo{
        position: fixed;
        vertical-align: middle;
        font-size: 30px;
        margin-left: 40%;

    }
    .header
    {
        width: 100%;
        padding-top: 13%;
    }
}
